* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
}
.app {
  background-color: rgb(112, 110, 110);
  padding: 1rem;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: aliceblue;
  padding: 2rem 0;
}
form {
  width: 20%;
}
.input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 3px;
  border: 1px solid burlywood;
  outline: none;
}
.input:focus {
  border: none;
  outline: 1px solid gray;
}
.nav {
  min-width: 30%;
}
.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}
.links li a {
  padding: 1rem;
  background-color: rgb(226, 226, 236);
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.links li a:hover {
  background-color: aquamarine;
}
/*  PRODUCTS GRID  */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
/* PRODUCT BOX */
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(235, 247, 247);
  gap: 0.7rem;
  padding: 1rem;
  max-height: 400px;
}
/* LINK */
.link {
  width: 100%;
}
/* PRODUCT DETALILS */
.product-name {
  font-weight: 700;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-image-div {
  width: 100%;
  height: 150px;
}
.product-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info-div {
  width: 100%;
  max-height: 70px;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-info-div .pre-text {
  color: black;
  font-weight: 700;
}
.product-info-div .category {
  color: rgb(253, 138, 157);
}
.product-info-div .description {
  text-align: left;
  line-height: 1.1;
  color: rgb(61, 60, 61);
  white-space: nowrap;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.available {
  color: rgb(75, 122, 4);
}
.not-available {
  color: red;
}
/*  SINGLE PRODUCT PAGE*/

.product-info {
  width: 100%;
  height: calc(100vh - 105px - 4rem);
  background-color: antiquewhite;
  padding: 2rem;
}
